<?xml version="1.0"?>
<config>
	<kvo_file>
		<title>jmkok.kvo</title>
		<protocol>local</protocol>
		<filename>jmkok.kvo</filename>
	</kvo_file>
	<kvo_file>
		<title>ssh://jmkok@youcom.nl</title>
		<protocol>ssh</protocol>
		<hostname>green.youcom.nl</hostname>
		<username>jmkok</username>
		<filename>test.kvo</filename>
		<fingerprint>7cNjx73oBWyFoy08y/8U7w==</fingerprint>
	</kvo_file>
	<kvo_file>
		<title>ssh://jmkok@p23.nl</title>
		<protocol>ssh</protocol>
		<hostname>pooh.p23.nl</hostname>
		<username>jmkok</username>
		<filename>sjaak.kvo</filename>
		<fingerprint>7cNjx73oBWyFoy08y/8U7w==</fingerprint>
	</kvo_file>
</config>
