[Desktop Entry]
Name=Keyvault
GenericName=Keyvault
Comment=Manage your passwords using
Exec=keyvault
Icon=/home/jmkok/git/keyvault-org/keyvault.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Security;Utility;
X-Ubuntu-Gettext-Domain=keyvault
